div, i, svg {
    margin: 0;
    padding: 0;
}
/* 
* By Paul Hachmang 
* https://github.com/paales
*/
.rating-box {
    position:relative;
    vertical-align: middle;
    font-size: 3em;
    display:inline-block;
    color: white;
}

/* .rating-box:before {
    /* this is the star outline 
    content: "<i class="far fa-star fa-fw"></i><i class="far fa-star fa-fw"></i><i class="far fa-star fa-fw"></i><i class="far fa-star fa-fw"></i><i class="far fa-star fa-fw"></i>";
} */
  
.rating {
    position: absolute;
    left:0;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    color: white;
}

.rating-top {
    z-index: 2;
}

/* .rating:before {
    /* this is the filled star 
    content: "<i class="fas fa-star fa-fw"></i><i class="fas fa-star fa-fw"></i><i class="fas fa-star fa-fw"></i><i class="fas fa-star fa-fw"></i><i class="fas fa-star fa-fw"></i>";
} */
